# macOS system files
.DS_Store

# Secrets (ignore everywhere)
**/Secrets.swift
**/Secrets.plist

# Xcode
build/
DerivedData/
*.xcworkspace
*.xcuserdata
*.moved-aside
*.xcuserstate

# Swift Package Manager
Packages/
